In [ ]:
import scipy.stats as ss
from collections import Counter
import math 
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np

In [ ]:
df = pd.read_csv("merge2.csv")
features = df.columns
traindf = df.dropna()

In [26]:
df.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,...,Average Amount/transaction/day,Transaction_amount,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
0,40.900749,0.818182,95.40,95.40,0.000000,0.166667,0.000000,0.083333,0.00,0,...,100.0,3000.0,0,5,1,1,0,0.0,0,1
1,3202.467416,0.909091,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.25,4,...,100.0,4300.0,0,5,1,1,0,0.0,0,1
2,2495.148862,1.000000,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.00,0,...,185.5,4823.0,1,5,0,0,0,0.0,0,1
3,817.714335,1.000000,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.00,0,...,500.0,26000.0,0,0,1,1,800,677.2,6,1
4,1809.828751,1.000000,1333.28,1333.28,0.000000,0.666667,0.000000,0.583333,0.00,0,...,500.0,27000.0,0,0,1,1,800,677.2,6,1

In [27]:
y = traindf['BALANCE']>=100
X = traindf.copy()

In [28]:
X.head()

,BALANCE,BALANCE_FREQUENCY,PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,...,Average Amount/transaction/day,Transaction_amount,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
0,40.900749,0.818182,95.40,95.40,0.000000,0.166667,0.000000,0.083333,0.00,0,...,100.0,3000.0,0,5,1,1,0,0.0,0,1
1,3202.467416,0.909091,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.25,4,...,100.0,4300.0,0,5,1,1,0,0.0,0,1
2,2495.148862,1.000000,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.00,0,...,185.5,4823.0,1,5,0,0,0,0.0,0,1
3,817.714335,1.000000,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.00,0,...,500.0,26000.0,0,0,1,1,800,677.2,6,1
4,1809.828751,1.000000,1333.28,1333.28,0.000000,0.666667,0.000000,0.583333,0.00,0,...,500.0,27000.0,0,0,1,1,800,677.2,6,1

In [29]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import MinMaxScaler
X_norm = MinMaxScaler().fit_transform(X)
chi_selector = SelectKBest(chi2, k=num_feats)
chi_selector.fit(X_norm, y)
chi_support = chi_selector.get_support()
chi_feature = X.loc[:,chi_support].columns.tolist()
print(str(len(chi_feature)), 'selected features')

20 selected features

In [30]:
chi_feature

['BALANCE',
 'BALANCE_FREQUENCY',
 'PURCHASES',
 'INSTALLMENTS_PURCHASES',
 'CASH_ADVANCE',
 'PURCHASES_FREQUENCY',
 'ONEOFF_PURCHASES_FREQUENCY',
 'PURCHASES_INSTALLMENTS_FREQUENCY',
 'CASH_ADVANCE_FREQUENCY',
 'CASH_ADVANCE_TRX',
 'PURCHASES_TRX',
 'CREDIT_LIMIT',
 'PAYMENTS',
 'MINIMUM_PAYMENTS',
 'PRC_FULL_PAYMENT',
 'Is declined',
 'isForeignTransaction',
 '6_month_avg_chbk_amt',
 '6-month_chbk_freq',
 'isFradulent']

In [31]:
feature_name = list(X.columns)
# no of maximum features we need to select
num_feats=20

In [32]:
def cor_selector(X, y,num_feats):
    cor_list = []
    feature_name = X.columns.tolist()
    # calculate the correlation with y for each feature
    for i in X.columns.tolist():
        cor = np.corrcoef(X[i], y)[0, 1]
        cor_list.append(cor)
    # replace NaN with 0
    cor_list = [0 if np.isnan(i) else i for i in cor_list]
    # feature name
    cor_feature = X.iloc[:,np.argsort(np.abs(cor_list))[-num_feats:]].columns.tolist()
    # feature selection? 0 for not select, 1 for select
    cor_support = [True if i in cor_feature else False for i in feature_name]
    return cor_support, cor_feature
cor_support, cor_feature = cor_selector(X, y,num_feats)
print(str(len(cor_feature)), 'selected features')

20 selected features

In [ ]:
cor_feature